aiofiles
aiohttp
asyncio
beautifulsoup4
dnspython
ffmpeg-python
gitpython
hachoir
heroku3
motor
numpy
pillow
psutil
py-tgcalls==0.9.7
pykeyboard
pyrogram==2.0.106
python-dotenv
pyyaml
requests
spotipy
tgcrypto
unidecode
git+https://github.com/MehmetAtes21/ydpdl@master
git+https://github.com/MehmetAtes21/histest@master
git+https://github.com/MehmetAtes21/ytsearch@master
git+https://github.com/alexmercerind/youtube-search-python@main
